@use "./variables" as *;
@use "./mixins" as *;

@mixin text-heading-1 {
    font-family: $font-family-headline;
    font-weight: 700;
    font-size: rem(24);

    @include respond-to(tablet) {
        font-size: rem(28);
    }

    @include respond-to(desktop) {
        font-size: rem(32);
    }

    @include respond-to(wide) {
        font-size: rem(36);
    }
}

@mixin text-caption {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: rem(12);
}

@mixin text-body {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: rem(10);

    @include respond-to(desktop) {
        font-size: rem(12);
    }
}

@mixin text-input {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: rem(10);
    color: $color-input-text;

    @include respond-to(desktop) {
        font-size: rem(14);
    }
}

@mixin text-nav {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: rem(12);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-gray-secondary;

    @include respond-to(tablet) {
        font-size: rem(14);
        text-transform: none;

        color: $color-gray;

        font-weight: 400;
        letter-spacing: normal;

        &.active {
            color: $color-white;
            font-weight: 500;
        }
    }
}
