// COLORS
$color-bg-base: #090a0e;
$color-bg-surface: #18181a;
$color-accent: #e50914;
$color-caption: #C6C7C9;

// FONTS
$font-family-headline: Montserrat, 'Segoe UI', Roboto, Arial, sans-serif;
$font-family-base: Inter, 'Segoe UI', Roboto, Arial, sans-serif;
