*,
*::before,
*::after {
  box-sizing: border-box;
}

:root { 
  --sans:  sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --text: #1f2937;
  --bg: #ffffff;
  --border: #e5e7eb;

  font-family: var(--sans);
  line-height: 1.5;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3f4f6;
    --bg: #111827;
    --border: #374151;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}